rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() { return request.auth != null; }
    function isAdmin() { return signedIn() && exists(/databases/(default)/documents/admins/$(request.auth.uid)) && get(/databases/(default)/documents/admins/$(request.auth.uid)).data.active == true && get(/databases/(default)/documents/admins/$(request.auth.uid)).data.role in ['admin','hoi']; }
    match /attachments/{allPaths=**} { allow read: if signedIn(); allow write: if signedIn(); }
    match /student-documents/{studentId}/{allPaths=**} { allow read: if signedIn(); allow write: if isAdmin(); }
    match /{allPaths=**} { allow read, write: if false; }
  }
}